src/main/mule/final-deploy-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="da95ce88-f492-4ce5-b6b5-7f8873fb0aaf" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="f9d6151a-4f64-4e4e-b45c-dfa8d258b47a" file="config.yaml" />
	<flow name="simple-flow" doc:id="2601878c-1363-4186-adb2-3fa6bd65a727">
		<http:listener doc:name="Listener" doc:id="9f538164-0787-4e66-9945-9d910110d198" path="/final" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="Transform Message" doc:id="fbf1b60f-0f0d-455b-8044-5f938e8fdb02">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Message" : "Hello ALL"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="37f2c821-e0fb-490a-ab5f-8fa65fe5dcbd" message="#[payload]" category="demo.final-deploy-demoFlow.simple-flow#1" />
	</flow>
</mule>
